@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow', sans-serif;
}
/* variable declarations */
:root{
    --primary:black;
    --secondary: #6fcbd6;
    --white-color:white;
    --button-font: 16px;
    --box-shadow: 0 4px 5px 0px #00000026;
    --box-shadow2: 0px 0px 5px 1px #00000080;
    --pharagraph-font-size:20px;
    --box-phara-font-size:16px;
    --nav-font-size:18px;
    --text-color:#74787c;
    --btn-color:#82b440;
    --h1-font: 61px;
    --complain-hover-color:#d12616;
}
.header{
    background-color:var(--primary);
    color:var(--white-color);
    display: flex;
    justify-content: space-between;
    height: 100px;
    box-sizing: border-box;
    box-shadow: var(--box-shadow);

}
.logo{
    margin-top: 2.5%;
}
.logo img{
    width: 110px;
    margin-left: 55%;
}
.center{
    margin-top: 2.5%;
    margin-right: 5%;
}
.center ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.center li{
    padding-left: 50px;
    font-size: var(--nav-font-size);
    font-weight: medium;
    cursor: pointer;
}
.center li a{
    text-decoration: none;
    color: var(--white-color);
}
ul li::after{
    content: '';
    background-color:white;
    display: block;
    height: 2px;
    width: 0%;
    margin: auto;
    transition: 0.3s;

}
.center li:hover::after{
    width: 100%;
}
/* .contact{
    margin-top: 2.2%;
    margin-right: 3%;
}
.contact a{
    margin-left: 15px;
} */
button{
    padding: 8px 20px;
    border-radius: 6px;
    background-color: var(--btn-color);
    color: var(--white-color);
    font-size: var(--button-font);

}
/* This is little footer */
.little-footer{
    display: flex;
    justify-content: space-between;
    height: 30px;
}
.logo-item{
   margin-right: 50px;
}
.contact-item{
    margin-left: 50px;
}
.logo-item ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.logo-item i{
   padding: 14px;
}
span{
    font-size: var(--button-font);
    font-weight: 600;
}
.contact-item, span{
    padding:14px 14px ;
}
.contact-item i{
    margin-right:10px;
}
/*  This is thired nav-b ar*/
.sub-nav a{
    text-decoration: none;
  
}
.sub-nav ul{
   list-style: none;
   display: flex;
   justify-content: space-around;
   font-size: var(--nav-font-size);
   margin-top: 3px;
}
.sub-nav li{
   box-sizing: border-box;
   padding:15px 85px;
   background-color: #7bb8f5cc;
}
.sub-nav a{
   color: black;
}
.big-btn{
    font-size: var(--button-font);
    color: black;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 9px 20px;
}
.big-btn:hover{
    background-color: #1480de;
    color:var(--white-color);
}
/* This is accessories */

/* This is Footer Section */
footer{
    background-color: var(--primary);
    color: var(--white-color);
    height: 270px;
    margin-top: 50px;

}
.bottom{
    display: flex;
    justify-content: space-between;
   
}
footer ul{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
footer a{
    color: var(--white-color);
    text-decoration: none;
}
footer ul li{
    list-style: none;
    padding: 7px;
}
.support img{
    width: 110px;
}
.support{
    margin-top:50px ;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 250px;
    height: 200px;
    margin-left: 100px;
}
/* .support button{
    width: 150px;
    box-sizing: border-box;
    background-color: var(--white-color);
    color: var(--primary);
} */
.big-btn:hover{
    background-color: #892474;
    color:var(--white-color);
}
.support span{
    font-size: var(--nav-font-size);

}
.about{
    margin-top:50px ;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 200px;
    height: 200px;
    font-size: var(--nav-font-size);
}
.popular{
    margin-top:50px ;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 200px;
    height: 200px;
    font-size: var(--nav-font-size);    
}
.follow{
    margin-right: 100px;
    margin-top: 59px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.application img{
        height: 33px;
        margin-top: 15px;
}
.follow .app{
    height: 130px;
   position: relative;
   right: 40px;
}
