@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow', sans-serif;
}
/* variable declarations */
:root{
    --primary:black;
    --secondary: #6fcbd6;
    --white-color:white;
    --button-font: 16px;
    --box-shadow: 0 4px 5px 0px #00000026;
    --box-shadow2: 0px 0px 5px 1px #00000080;
    --pharagraph-font-size:20px;
    --box-phara-font-size:16px;
    --nav-font-size:18px;
    --text-color:#74787c;
    --h1-font: 61px;
    --complain-hover-color:#d12616;
}
/* This is header section */
header{
    background-color:var(--primary);
    color:var(--white-color);
    display: flex;
    justify-content: space-evenly;
    height: 100px;
    box-sizing: border-box;
    box-shadow: var(--box-shadow2);
}
.logo{
    margin-top: 2.5%;
}
.logo img{
    width: 110px;
}
.center{
    margin-top: 2.5%;
}
.center ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.center li{
    padding-left: 20%;
    font-size: var(--nav-font-size);
    font-weight: medium;
    cursor: pointer;
}
.center li a{
    text-decoration: none;
    color: var(--white-color);
}
ul li::after{
    content: '';
    background-color:white;
    display: block;
    height: 2px;
    width: 0%;
    margin: auto;
    transition: 0.3s;

}
.center li:hover::after{
    width: 100%;
}
.user{
    margin-top: 2.2%;
    margin-right: 13%;
}
.user ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.user li{
   padding: 15px;
}
/* This is thired nav bar */
.sub-nav a{
    text-decoration: none;
}
.sub-nav ul{
   list-style: none;
   display: flex;
   justify-content: space-around;
   font-size: var(--nav-font-size);
   margin-top: 3px;
}
.sub-nav li{
   box-sizing: border-box;
   padding:15px 80px;
   background-color: #7bb8f5cc;
}
.sub-nav a{
   color: black;
}
/* This is little footer */
.little-footer{
    display: flex;
    justify-content: space-between;
    height: 30px;
}
.logo-item{
   margin-right: 50px;
}
.contact-item{
    margin-left: 50px;
}
.logo-item ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.logo-item i{
   padding: 14px;
}
span{
    font-size: var(--button-font);
    font-weight: 600;
}
.contact-item, span{
    padding:14px 14px ;
}
.contact-item i{
    margin-right:10px;
}
/* This is appointment */
.appoinment{
    background-color: #4a7bdc;
    height: 200px;
    margin-top: 2px;
    color: var(--white-color);
}
.appoinment h1{
    text-align: center;
    padding-top: 70px;
    font-weight: 700;
    font-size: 44px;
    letter-spacing: 2px;
}
/* This is live location page */
.live-location img{
    height: 793px;
}
/* Booking Appointment */
.booking-app{
    height: 400px;
    background-color: #4a7bdc;
}
.book-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 190px;
    padding-top: 190px;
    color: var(--white-color);
}
.booking-app p{
    font-size:20px;
    margin-top: 30px;
}
.booking-app hr{
    margin-top: 30px;
    width: 350px;
    line-height: 5px;
    list-style: inherit;
}
/* vehicle year  */
.vehicle-type{
    display: flex;
    justify-content: space-around;
    margin-left: 40px;
    margin-right: 50px;
}
.top-head{
    display: block;
    font-weight: 600;
    background: #F5F5F5;
    padding: 11px 16px;
    line-height: 26px;
    text-align: center;
}
.vehicle-type input, select{
    max-width: none;
    height: 60px;
    border: 1px solid #EBEBEB;
    background: #FFF;
    font-family: 'Raleway', 'Arial', sans-serif;
    font-size: 14px;
    line-height: 24px;
    padding: 12px 15px;
    color: #303030;
    margin: 0;
    width: 350px;
}
#company{
    width: 400px;
    height: 60px;
}
/* This is date and time choosing section */
.appinment-section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.date-choose input{
    border: 1px solid #EBEBEB;
    background: #FFF;
    font-family: 'Raleway', 'Arial', sans-serif;
    font-size: 14px;
    line-height: 24px;
    width: 600px;
    height: 60px;
    padding: 12px 15px;
}
.list-checkbox .checkbox{
    font-size: 16px;
    width: auto;
    font-weight: var(--button-font);
    background: #fffefec5;
    border-style: solid;
    border-color: #74787c18;
    margin: 5px;
    padding: 11px 16px;
    line-height: 26px;
}
.date{
    float: left;
    /* width: 50%; */
    margin-left: 90px;
}
.date label{
    width: 600px;
}
.item{
    width: 20px;
    margin-right: 5px;
}
.date-choosing{
    width: 600px;
}
.list-checkbox input{
   width: 15px;
   padding: 0;
}
.list-checkbox{
    display: flex;
    flex-wrap: wrap;
}
.addres{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 100px;
    float: right;
}
.addres input{
    width: 600px;
    margin-top: 10px;
    height: 60px;
    border: 1px solid #EBEBEB;
    background: #FFF;
    font-family: 'Raleway', 'Arial', sans-serif;
    font-size: 14px;
    line-height: 24px;
    padding: 12px 15px;
    color: #303030;
}
#message{
    height: 150px;
}
button a{
    text-decoration: none;
    color: var(--white-color);
}
button{
    padding: 8px 20px;
    border-radius: 6px;
    height: 50px;
    border-style: none;
    background-color: #0f80f1eb;
    color: white;
    font-weight: 600;
    letter-spacing: 1px;
}
button:hover{
    background-color: #094887;
}
/*  This is Footer */
footer{
    background-color: var(--primary);
    color: var(--white-color);
    height: 270px;
    margin-top: 600px;

}
.bottom{
    display: flex;
    justify-content: space-between;
   
}
footer ul{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
footer a{
    color: var(--white-color);
    text-decoration: none;
}
footer ul li{
    list-style: none;
    padding: 7px;
}
.support img{
    width: 110px;
}
.support{
    margin-top:50px ;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 250px;
    height: 200px;
    margin-left: 100px;
}
/* .support button{
    width: 150px;
    box-sizing: border-box;
    background-color: var(--white-color);
    color: var(--primary);
} */
.big-btn:hover{
    background-color: #892474;
    color:var(--white-color);
}
.support span{
    font-size: var(--nav-font-size);

}
.about{
    margin-top:50px ;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 200px;
    height: 200px;
    font-size: var(--nav-font-size);
}
.popular{
    margin-top:50px ;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 200px;
    height: 200px;
    font-size: var(--nav-font-size);    
}
.follow{
    margin-right: 100px;
    margin-top: 59px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.application img{
        height: 33px;
        margin-top: 15px;
}
.follow .app{
   height: 130px;
   position: relative;
   right: 40px;
}
/* This is payment-section */
.payment-section h1{
    text-align: center;
    margin-top: 0px;
}
form{
    margin-left: 550px;
    margin-top: 70px;
}
form img{ 
  height: 30px;
  width: 30px;
  margin-left: 25px;
  margin-right: 25px;
}
.form, label, input{
   background-color: var(--white-color);
}
form label{
    font-size: 20px;
    font-weight: medium;
    line-height: 26px;
    color: #303030;
}
fieldset{
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 50px;
    border-radius: 15px;
    border: 0.01rem solid rgba(128, 128, 128, 0.381);
    box-shadow: var(--box-shadow);
}
.payment-section button{
    width: 300px; 
    margin-top: 50px;
    margin-left: 50px;
}
.back-page{
   width: 40px;
   margin-top: 25px ;
   margin-left: 30px;
}
/* This is confirm -section */
.confirm-section img{
    height: 300px;
    margin-top: 50px;
}
.confirm-section{
    width: 500px;
    height: 500px;
    border-radius: 15px;
    border: 0.01rem solid rgba(128, 128, 128, 0.381);
    box-shadow: var(--box-shadow);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 20%;
    left: 35%;
}

